*{
  font-family: 'Cormorant Garamond', serif;
}

.google-map {
  // width: 300px;
  height: 300px;
}

u {
    text-decoration: none;
    border-bottom: 1px solid black;
  }​


.registerForm{
  width: 580px;
  margin-left: 60px;
}
.registerTitle{
  margin-left: 180px;
  font-size: 60px;
  padding-bottom: 40px;
}

.benefitsTitle{
  font-size: 45px;
  margin-left: 40px;
}
.benefits{
  font-size: 20px;

}
li{
  margin-bottom: 10px;
}

.regBorder{
  border: 1px dotted grey;
  width: 400px;
  margin-left: 160px;
  padding:10px;
}

.regOuterBorder{
  border: 1px dotted grey;
  width: 700px;
  margin-left: 100px;
}

.loginContainer{
  width:700px;
  margin-left: 25%;
}

.loginTitle{
  font-size: 50px;
  margin-left: 28%;
  margin-bottom: 27px;
}

.indexTitle{
  font-size: 32px;
}
.indexSubtitle{
  font-size: 20px;
}
.container{
  height:650px;

  .showContainer{
    display: inline-flex;
    font-size: 70px;
    padding: 50px;
    height: 500px;
    margin-bottom: 40px;
    .showTitle{
      font-size: 45px;
      margin-top: 150px;
      text-align: center;

    }
    .showSubtitle{
      font-size: 25px;
      width: 500px;
      text-align: center;
      margin-left: 60px;
    }
    .showButtons{
      margin-top: 30%;
      margin-left: 36%;
    }
    .showImage{
      position: absolute;
      top: 70px;
    }
  }
}
.commentButton{
  float:right;
}

.showDescription{
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.googleBorder{
  width: 550px;
  margin-left: 58%;
  margin-bottom: 20px;
  padding:20px;
}
.showGoogle{
  width: 500px;
  border-radius: 5%;
}
table{
  font-size: 20px;
}
.titleContainer{
  width:670px;
}
