<ul class="columns is-multiline">
  <li class="column is-one-quarter" ng-repeat="place in placesIndex">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img ng-src="{{ place.image }}" alt="{{ place.name }}" />
        </figure>
      </div>
      <div class="card-content">
        <p>Place Name: {{ place.name }}</p>
        <p>Type: {{ place.type }}</p>
        <p>Outdoor: {{ place.outdoor }}</p>
        <p>location: {{ place.location }}</p>
      </div>
    </div>
  </li>
</ul>

<!-- <li class="column is-one-quarter" ng-repeat="place in placesIndex.allPlaces"> -->
