<form ng-submit="eventsEdit.handleSubmit()">

  <div class="field">
    <label for="name">Event Name</label>
    <input class="input" placeholder="Event Name" name="name" ng-model="eventsEdit.event.name" />
  </div>

  <div class="field">
    <label for="name">Event Date</label>
    <input class="input" placeholder="Event Date" name="date" ng-model="eventsEdit.event.date" />
  </div>

  <div class="field">
    <label for="name">Event Start Time</label>
    <input class="input" placeholder="Event Start Time" name="startTime" ng-model="eventsEdit.event.startTime" />
  </div>

  <div class="field">
    <label for="name">Event End Time</label>
    <input class="input" placeholder="Event End Time" name="endTime" ng-model="eventsEdit.event.endTime" />
  </div>

  <div class="field">
    <label for="name">Type of Event</label>
    <div class="control">
      <div class="select">
        <select name="type" ng-model="eventsEdit.event.type">
          <option selected disabled value="">Please choose</option>
          <option value="Satellite">Satellite</option>
          <option value="Astroid">Astroid</option>
          <option value="Atars">Stars</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="name">Visibility</label>
    <input class="input" placeholder="Visibility" name="visibility" ng-model="eventsEdit.event.visibility" />
  </div>


  <button class="button is-primary">Submit</button>
</form>
