<h1 class="registerTitle"> Update an event</h1>

<div class="loginContainer">
  <form ng-submit="eventsEdit.handleSubmit()">

    <div class="field">
      <label for="name">Event Name</label>
      <input class="input" placeholder="Event Name" name="name" ng-model="eventsEdit.event.name" />
    </div>

    <div class="field">
      <label for="date">Event Date</label>
      <input class="input" placeholder="Event Date" name="date" ng-model="eventsEdit.event.date" />
    </div>

    <div class="field">
      <label for="startTime">Event Start Time</label>
      <input class="input" placeholder="Event Start Time" name="startTime" ng-model="eventsEdit.event.startTime" />
    </div>

    <div class="field">
      <label for="endTime">Event End Time</label>
      <input class="input" placeholder="Event End Time" name="endTime" ng-model="eventsEdit.event.endTime" />
    </div>

    <div class="field">
      <label for="type">Type of Event</label>
      <div class="control">
        <div class="select">
          <select name="type" ng-model="eventsEdit.event.type">
            <option selected disabled value="">Please choose</option>
            <option value="Satellite">Satellite</option>
            <option value="Astroid">Astroid</option>
            <option value="Atars">Stars</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label for="visibility">Visibility</label>
      <div class="control">
        <div class="select">
          <select name="visibility" ng-model="eventsNew.newEvent.visibility" required>
            <option selected disabled value="">Please choose</option>
            <option value="Naked Eye">Naked Eye</option>
            <option value="Telescope">Telescope</option>
          </select>
        </div>
      </div>


      <button type="button" class="button is-primary">Submit</button>
    </form>
  </div>
