<h1 class="title is-1 has-text-centered">Find your next stargazing adventure</h1>


<div class="container events-list">
  <ul class="columns is-multiline">
    <li class="column is-one-quarter" ng-repeat="event in eventsIndex.allEvents">
      <a ng-href="#!/events/{{ event._id }}">
        <div class="card">
          <div class="card-content">
            <p>Event Name: {{ event.name }}</p>
            <p>Date: {{ event.date }}</p>
            <p>Start Time: {{ event.startTime }}</p>
            <p>End Time: {{ event.endTime }}</p>
            <p>Type: {{ event.type }}</p>
            <p>visibility: {{ event.visibility }}</p>
          </div>
        </div>
      </a>
    </li>
  </ul>

</div>
