<section class="events-index">
  <div class="container">
    <h1 class="title is-1 has-text-centered">Discover your next stargazing adventure</h1>
    <div class="container">
      <div class="day" ng-repeat="date in eventsIndex.dateObjects">
        <h2 class="title is-2 event-date">{{ date.date | date }}</h2>
        <ul class="columns is-multiline">
          <li class="column is-one-quarter" ng-repeat="event in date.events">
            <a ui-sref="eventsShow({ id: event._id })">
              <div class="card event-card">
                <div class="card-content">
                  <div class="index-title">
                    <span>{{ event.type }}</span>
                  </div>
                  <div class="index-info">
                    <div class="info">
                      <span class="info-title">Event Name: </span>
                      <span class="info-content">{{ event.name }}</span>
                    </div>
                    <div class="info">
                      <span class="info-title">Visibility: </span>
                      <span class="info-content">{{ event.visibility }}</span>
                    </div>
                    <div class="info" ng-if="event.startTime">
                      <span class="info-title">Start Time: </span>
                      <span class="info-content">{{ event.startTime | date: 'shortTime'}}</span>
                    </div>
                    <div class="info" ng-if="event.endTime">
                      <span class="info-title">End Time: </span>
                      <span class="info-content">{{ event.endTime | date: 'shortTime'}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
