<section class="section">

  <div class="container">
    <form name="eventsNew.form" ng-submit="eventsNew.handleSubmit()" novalidate>
      <div class="field">
        <label for="name">Event Name</label>
        <input class="input" placeholder="Event Name" name="name" ng-model="eventsNew.newEvent.name" required />
        <div ng-messages="eventsNew.form.name.$error" ng-if="placesNew.form.name.$dirty || eventsNew.form.$submitted">
          <div class="notification is-danger" ng-message="required">This field is required</div>
        </div>
      </div>

      <div class="field">
        <label for="name">location</label>
        <input class="input" placeholder="Location" name="address" ng-model="eventsNew.newEvents.location" required />
        <div ng-messages="eventsNew.form.alocation.$error" ng-if="eventsNew.form.location.$dirty || eventsNew.form.$submitted">
          <div class="notification is-danger" ng-message="required">This field is required</div>
        </div>
      </div>

      <div class="field">
        <label for="name">Type of event</label>
        <div class="control">
          <div class="select">
            <select name="type" ng-model="eventsNew.newEvent.type" required>
              <option selected disabled value="">Please choose</option>
              <option value="satellites">Satellites</option>
              <option value="astroids">Astroids</option>
              <option value="stars">Stars</option>
            </select>
          </div>
        </div>
        <div ng-messages="eventsNew.form.type.$error" ng-if="eventsNew.form.type.$touched || eventsNew.form.$submitted">
          <div class="notification is-danger" ng-message="required">This field is required</div>
        </div>
      </div>

      <div class="field">
        <label for="name">Description</label>
        <input class="input" placeholder="Desribe the event" name="description" ng-model="eventsNew.newEvents.description"/>
        <div ng-messages="eventsNew.form.description.$error" ng-if="eventsNew.form.description.$dirty || eventsNew.form.$submitted">
          <div class="notification is-danger" ng-message="required">This field is required</div>
        </div>
      </div>
      <button class="button is-primary">Submit</button>
    </form>
  </div>
</section>
