<section class="events-show">
  <div class="container">
    <h2 class="title is-2">{{ eventsShow.event.type }}</h2>
    <h3 class="subtitle is-2">{{ eventsShow.event.name }}</h3>

    <div class="container event-data">
      <div class="event-card">
        <div class="details">
          <div class="info">
            <span class="info-title">Date: </span>
            <span class="info-content">{{ eventsShow.event.date | date}}</span>
          </div>
          <div ng-if="eventsShowevent.startTime" class="info">
            <span class="info-title">Start Time: </span>
            <span class="info-content">{{ eventsShow.event.startTime | date: 'shortTime'}}</span>
          </div>
          <div ng-if="eventsShow.event.endTime" class="info" n>
            <span class="info-title">End Time: </span>
            <span class="info-content">{{ eventsShow.event.endTime | date: 'shortTime'}}</span>
          </div>
          <div class="info">
            <span class="info-title">Visibility: </span>
            <span class="info-content">{{ eventsShow.event.visibility }}</span>
          </div>
        </div>
        <div class="event-buttons">
          <a ng-if="main.userId" ui-sref="eventsEdit({ id: eventsShow.event._id })" class="button">Edit</a>
          <button ng-if="main.userId" class="button is-primary" ng-click="eventsShow.addFavoriteEvent()">Favorite</button>
          <button ng-if="main.userId" class="button is-danger" ng-click="eventsShow.remove()">Delete</button>
        </div>
      </div>

      <figure class="event-image">
        <img ng-if="eventsShow.isSatellite()"  src="./assets/images/iss.jpg" alt="{{ eventsShow.event.name }}"/>
        <img ng-if="eventsShow.isAsteroid()" src="./assets/images/asteroid.jpg" alt="{{ eventsShow.event.name }}" />
        <img ng-if="eventsShow.isMeteorShower()" src="./assets/images/meteor-shower.jpg" alt="{{ eventsShow.event.name }}"/>
      </figure>

    </div>

    <div class="container event-user-data">
      <div class="comments">
        <div class="display">
          <h3 class="title is-4">What others have said:</h3>
          <ul class="comments-list">
            <li class="comment" ng-repeat="comment in eventsShow.event.comments">
              <div ui-sref="profile({ id: comment.userId._id })">

                <span class="comment-username">{{ comment.userId.username }} {{ comment.username }} - </span>
                <span class="comment-content">{{ comment.content }}</span>
                <button type="button" name="button" ng-click="eventsShow.deleteComment(comment)">X</button>
              </div>  
            </li>
          </ul>
        </div>

        <div ng-if="main.userId" class="submit">
          <form ng-submit="eventsShow.submitComment()">
            <h3 class="title is-4">What's on your mind?</h3>
            <textarea class="textarea" name="content" ng-model="eventsShow.comment.content"></textarea>
            <button class="button is-primary">Submit</button>
          </form>
        </div>
      </div>

      <div class="user-images">
        <div class="field" ng-if="eventsShow.event.image">
          <label class="label">Gallery Image Preview</label>
          <div class="control">
            <figure class="image is-128x128">
              <img src="{{ eventsShow.event.image }}">
            </figure>
          </div>
        </div>

        <figure class="image" ng-repeat="picture in eventsShow.event.userImages">
          <img ng-src="{{ picture.src }}" alt="{{ event.name }}" />
        </figure>

        <div ng-if="main.userId" class="control">
          <div class="file">
            <label class="label"><h3 class="title is-4">Share your images</h3></label>
              <input class="file-input" type="file" ng-model="eventsShow.event.image" upload-image>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
          </div>
          <form ng-submit="eventsShow.savePic()">
            <button type="submit">Save Picture</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
