<section class="about">
  <div class="container">
    <h1>Who are we?</h1>
    <div class="container">
      <div class="adminImages">
        <!-- need to be updated if we want circles. -->
        <img src="/assets/images/fab.jpg" alt="Fabian" class="adminImage">
        <img src="/assets/images/pau.png" alt="Helena" class="adminImage">
        <img src="/assets/images/hel.jpg" alt="Paula" class="adminImage">
      </div>
      <div class="adminInfo">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.</p>
          <br>
          <h1 class="amitaTitle">What can we do to help?</h1>
          <br>
          <p>Contact us personally at: <br> starGazer@notarealemail.io</p>



            </form>
          </div>

        </div>

      </div>

    </div>
  </section>
