<section class="section">
  <div class="container">
    <h1 class="registerTitle">Welcome Back</h1>
    <div class="loginContainer">
      <form ng-submit="authLogin.handleSubmit()">
        <div class="field">
          <label for="email">Email</label>
          <input class="input" placeholder="Email" name="email" ng-model="authLogin.credentials.email" />
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" class="input" placeholder="Password" name="password" ng-model="authLogin.credentials.password" />
        </div>

        <button class="commentButton" "button is-primary">Submit</button>

      </form>
    </div>
  </div>
</section>
