<div class="container profile">
  <h2 class="title is-2">{{ usersProfile.user.username }}</h2>

  <div class="container info">
    <img ng-src="{{ usersProfile.user.avatar }}" alt="{{ usersProfile.user.name }}" />
    <p>{{ usersProfile.user.email }}</p>
  </div>

  <div class="container favorites">
    <h3 class="subtitle is-3">See your favorites</h3>
    <ul>
      <li>Your Events</li>
      <li ng-repeat="event in usersProfile.user.favoriteEvents">{{event}}</li>
    </ul>

    <hr>
    
    <ul>
      <li>Your Places</li>
      <li ng-repeat="location in usersProfile.user.favoriteLocations">{{location}}</li>
    </ul>
  </div>

  <hr>

  <div class="container comments">
    <h3 class="subtitle is-3">See your comments</h3>
    <ul>
      <li ng-repeat="comment in usersProfile.user.comments">{{comment.content}}</li>
    </ul>
  </div>

  <a ng-if="main.admin" ui-sref="profileEdit({ id: usersProfile.user._id })" class="button">Edit</a>
  <button ng-if="main.admin" class="button is-danger" ng-click="usersProfile.remove()">Delete</button>
</div>
