<div class="user-profile">

  <div class="container">

    <div class="columns is-multiline">

      <div class="column is-half-desktop profile-info">

        <!-- <div class="profile-info"> -->
          <img ng-src="{{ usersProfile.user.avatar }}" id="profilePicHeight"alt="{{ usersProfile.user.name }}" class="profilePic"/>
          <div class="change-picture">

            <!-- <img class="imagePreview" src="{{eventsShow.event.image}}"> -->
            <div class="control">
              <div class="file">
                <label class="file-label">
                  <input class="file-input" type="file" ng-model="usersProfile.user.avatar" upload-image>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                </label>
              </div>
            </div>

            <form ng-submit="usersProfile.savePic()">
              <button class="button is-submit submit-button" type="submit">Save Picture</button>
            </form>

          </div>
          <a ng-if="main.admin" ui-sref="profileEdit({ id: usersProfile.user._id })" class="button">Edit</a>
          <button ng-if="main.admin" class="button is-danger" ng-click="usersProfile.remove()">Delete</button>
        <!-- </div> -->
      </div>


      <div class="column is-half-desktop">

        <h2 id="username">{{ usersProfile.user.username }}</h2>
        <div class="preferences">
          <div class="container favorites">
            <h3 class="subtitle is-3" ng-click="usersProfile.toggleFavorites()">
              <span ng-if="!usersProfile.favsAreVisible">See your favorites</span>
              <span ng-if="usersProfile.favsAreVisible">Hide your favorites</span>
            </h3>
            <ul ng-class="{'hidden': !usersProfile.favsAreVisible}">
              <li>Events:</li>
              <li ng-repeat="event in usersProfile.user.favoriteEvents" ui-sref="eventsShow({ id: event._id })"><u>{{event.name}}</u></li>
            </ul>

            <ul ng-class="{'hidden': !usersProfile.favsAreVisible}">
              <li>Places:</li>
              <li ng-repeat="location in usersProfile.user.favoriteLocations" ui-sref="placesShow({ id: location._id })"><u>{{location.name}}</u></li>
            </ul>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
